snippet esbd
	Element Should Be Disabled    ${1:locator}
snippet esbe
	Element Should Be Enabled    ${1:locator}
snippet esbv
	Element Should Be Visible    ${1:locator}    ${2:message}
snippet esc
	Element Should Contain    ${1:locator}    ${2:expected}    ${3:message}
snippet esnbv
	Element Should Not Be Visible    ${1:locator}    ${2:message}
snippet etsb
	Element Text Should Be
snippet eaj
	Execute Async Javascript    ${1:code}
snippet ej
	Execute Javascript    ${1:code}
